name: ubuntu-release
on: push
env:
  version: 3.3.4
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Test mypcb
        run: make check; make clean
  test-distrib:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Test mypcb distrib
        run: make dist; make distclean
  build:
    needs: test-distrib
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build
        run: |
          make prefix=/opt/mypcb sysconfdir=/opt/mypcb/etc outputdir=/opt/mypcb/out all
          mkdir -p mypcb/etc mypcb/out
          cp src/mypcb mypcb/
          cp etc/example.conf mypcb/etc/
          tar -czf mypcb-linux-x64-${{ env.version }}.tar.gz mypcb
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.DEVOPS_TOKEN }}
          tag_name: ${{ env.version }}
          name: release ${{ env.version }}
          files: src/mypcb-linux-x64-${{ env.version }}.tar.gz